<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home - Mohammed In The Bible</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo/logo.png" rel="icon">
    <link href="assets/img/logo/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Template Main CSS Files -->

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Products</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Non-Muslim Views </a></li>
                    <li><a class="nav-link scrollto" href="#team">Blog</a></li>

                    <!-- <li class="dropdown">
                        <a href="#"><span>Related Sites</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                    <li class="dropdown">
                        <a href="#" style="    padding-left: 120px;"><i class="fi fi-us" style="height: 20px;"></i>
                            <span> &nbsp; English</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <!-- <a  class="" href="#"><i class="fi fi-us" style="height: 20px;"></i>English </a> -->
                                <a style="justify-content: left;" href="#"><i class="fi fi-us"
                                        style="height: 20px;"></i></i>English</a>

                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-gr"
                                        style="height: 20px;"></i></i>Polski</a>
                            </li>

                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-eg"
                                        style="height: 20px;"></i>Arabic</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs"
            style="background-image: url('./assets/img/blog-bg.jpg');color: #fff;padding: 0px;">
            <div style="padding: 10px 0 24px;
            background: rgba(0, 169, 155, 0.85);">
                <div class="container">

                    <div class="d-flex pt-2 justify-content-between align-items-center">
                        <!-- <h2>Blog</h2> -->
                        <ol style="font-size: 25px;color: #3c3c3c;font-weight: 500;">
                            <li><a href="index.html" style="color: #3c3c3c;">Home</a></li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <!-- <h3 class="pt-4">test tetstv nsdsmfksdf </h3> -->


                </div>
            </div>

        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Post Grid Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-8">
                        <div class="post-entry-1 lg">
                            <a href="single-post.html"><img
                                    src="https://minbible.com/media/k2/items/cache/1698b847c2e4fe98c05adcdc9d420590_XL.jpg"
                                    alt="" class="img-fluid pb-4"></a>
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th
                                    '22</span>
                            </div>
                            <h2><a href="single-post.html">Could Prophet Muhammad be biblically identified as a false
                                    prophet?</a></h2>
                            <p class="mb-4 d-block">Identifying false prophets and true prophets is one of the most
                                important topics in the Muslim-Christian dialogue. Whereas the Bible is judging the
                                false Prophet through some helping criteria. Remarkably, these biblical criteria of the
                                false prophet are very far away from being true regarding Prophet Muhammad (PBUH). In
                                this…</p>

                            <div class="d-flex align-items-center author">
                                <!-- <div class="photo"><img src="assets/img/ar-b.png" alt="" class="img-fluid"></div> -->
                                <div class="name">
                                    <a class="m-0 p-0 btn btn-2 read-more">
                                        Read more...
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Category List</h3>
                            <ul>
                                <li style="color: #00b3a4;font-size: 20px;"><a style="color: #00b3a4;"
                                        href="single-post.html">Muhammad in the Torah | Old Testament</a> <span
                                        style="float: right;">(5)</span></li>
                                <li style="color: #00b3a4;font-size: 20px;"><a style="color: #00b3a4;"
                                        href="single-post.html">Prophet Muhammad in the Hindu scriptures </a> <span
                                        style="float: right;">(9)</span></li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <!-- <div class="row g-1"> -->
                        <div class="border-start custom-border">
                            <div class="post-entry-1">
                                <div style="background: #00b3a4;
                                width: 100%;
                                height: 7vh;
                                color: #FFF;
                            ">
                                    <h2 class="pt-1 pl-2 ps-1">
                                        <a style="color: #FFF;" href="single-post.html">Category List</a>
                                    </h2>
                                </div>

                                <div>
                                    <ul style="list-style: none; padding-top: 10px;">
                                        <li>
                                            <a style="font-size: 20px;" href="single-post.html">
                                                Muhammad in the Torah | Old Testament
                                                <span style="float: right;">(5)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a style="font-size: 20px;" href="single-post.html">
                                                Prophet Muhammad in the Hindu scriptures
                                                <span style="float: right;">(9)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- </div> -->
                    </div>

                </div> <!-- End .row -->
            </div>
            </div>

        </section> <!-- End Post Grid Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0 contact">
                    <div class="info" style="color: #9e9e9e;">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>A108 Adam Street<br>New York, NY 535022</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>info@mohammedinthebible.com taha@mohammedinthebible.com</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>+966 564317621</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>QUICK LINKS</h3>
                        <ul class="p-0">
                            <li><a href="#">About The Writer</a></li>
                            <li><a href="#">Non-Muslim Views</a></li>
                            <li><a href="#">Photos & Videos</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>RELATED SITES</h3>
                        <ul class="p-0">
                            <li><a href="#">eDialogue</a></li>
                            <li><a href="#">ISNA</a></li>
                            <li><a href="#">Discover Islam</a></li>
                            <li><a href="#">The Religion Of Islam</a></li>
                            <li><a href="#">Islam Presentation Committee</a></li>
                            <li><a href="#">Islam House</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left">
                    <div class="copyright">
                        <h3>HAVING INQUIRY?</h3>
                    </div>
                    <div class="credits inquiry">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>

                            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>