<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home - Mohammed In The Bible</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo/logo.png" rel="icon">
    <link href="assets/img/logo/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Products</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Non-Muslim Views </a></li>
                    <li><a class="nav-link scrollto" href="#team">Blog</a></li>

                    <!-- <li class="dropdown">
                        <a href="#"><span>Related Sites</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                    <li class="dropdown">
                        <a href="#" style="    padding-left: 120px;"><i class="fi fi-us" style="height: 20px;"></i>
                            <span> &nbsp; English</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <!-- <a  class="" href="#"><i class="fi fi-us" style="height: 20px;"></i>English </a> -->
                                <a style="justify-content: left;" href="#"><i class="fi fi-us"
                                        style="height: 20px;"></i></i>English</a>

                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-gr"
                                        style="height: 20px;"></i></i>Polski</a>
                            </li>

                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-eg"
                                        style="height: 20px;"></i>Arabic</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Blog</h2>
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li>Blog</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page">
            <div class="container">
                
            </div>
        </section>

        <section>
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>OUR PRODUCTS</h2>
                </div>

                <div class="row">
                    <div class="col-md-8 d-flex align-items-stretch mt-md-0">
                        <div class="card">
                            <div class="card-body" style="position: absolute;">
                                <h5 class="card-title"><a href="">MAIN BOOK</a></h5>
                                <p class="card-text">Book of 281 Pages</p>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="#"><i class="bi bi-filetype-pdf"></i> View Sample</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#"><i class="bi bi-cart-plus"></i> Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-md-0 decProduct">
                        <div class="card" style='height: 65vh;background-image: url("assets/img/en-s.png");'
                            data-aos="fade-up" data-aos-delay="200">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">ABREDGED BOOK</a></h5>
                                <p class="card-text">Book of 95 Pages</p>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="#"><i class="bi bi-filetype-pdf"></i> View Sample</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#"><i class="bi bi-cart-plus"></i> Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    

                </div>

            </div>
        </section><!-- End More Services Section -->


    </main><!-- End #main -->


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-3 text-lg-left">
                    <h3>Contact</h3>
                    <div class="info">
                        <div>
                            <div style="font-size: 30px;color: #00b3a4;">
                                <i class="ri-phone-line"></i>
                            </div>
                            <p>+966 564317621</p>
                        </div>

                    </div>
                    <div class="info">
                        <div>
                            <div style="font-size: 30px;color: #00b3a4;">
                                <i class="ri-mail-send-line"></i>
                            </div>
                            <p>info@mohammedinthebible.com <br> taha@mohammedinthebible.com</p>
                        </div>

                        <div>
                            <div style="font-size: 30px;color: #00b3a4;">
                                <i class="bi bi-dribbble"></i>
                            </div>
                            <p>www.mohammedinthebible.com</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>QUICK LINKS</h3>
                        <ul class="p-0">
                            <li><a href="#">About The Writer</a></li>
                            <li><a href="#">Non-Muslim Views</a></li>
                            <li><a href="#">Photos & Videos</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>RELATED SITES</h3>
                        <ul class="p-0">
                            <li><a href="#">eDialogue</a></li>
                            <li><a href="#">ISNA</a></li>
                            <li><a href="#">Discover Islam</a></li>
                            <li><a href="#">The Religion Of Islam</a></li>
                            <li><a href="#">Islam Presentation Committee</a></li>
                            <li><a href="#">Islam House</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left">
                    <div class="copyright">
                        <h3>HAVING INQUIRY?</h3>
                    </div>
                    <div class="credits inquiry">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>

                            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>