<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home - Mohammed In The Bible</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/logo/logo.png" rel="icon">
    <link href="assets/img/logo/logo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- Template Main CSS Files -->
    <!-- <link href="assets/css/variables.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/main.css" rel="stylesheet"> -->

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Products</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Non-Muslim Views </a></li>
                    <li><a class="nav-link scrollto" href="#team">Blog</a></li>

                    <!-- <li class="dropdown">
                        <a href="#"><span>Related Sites</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
                    <li class="dropdown">
                        <a href="#" style="    padding-left: 120px;"><i class="fi fi-us" style="height: 20px;"></i>
                            <span> &nbsp; English</span>
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li>
                                <!-- <a  class="" href="#"><i class="fi fi-us" style="height: 20px;"></i>English </a> -->
                                <a style="justify-content: left;" href="#"><i class="fi fi-us"
                                        style="height: 20px;"></i></i>English</a>

                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-gr"
                                        style="height: 20px;"></i></i>Polski</a>
                            </li>

                            <li>
                                <a style="justify-content: left;" href="#"><i class="fi fi-eg"
                                        style="height: 20px;"></i>Arabic</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs"
            style="background-image: url('./assets/img/blog-bg.jpg');color: #fff;padding: 0px;">
            <div style="padding: 10px 0 24px;
            background: rgba(0, 169, 155, 0.85);">
                <div class="container">

                    <div class="d-flex pt-2 justify-content-between align-items-center">
                        <!-- <h2>Blog</h2> -->
                        <ol style="font-size: 25px;color: #3c3c3c;font-weight: 500;">
                            <li><a href="index.html" style="color: #3c3c3c;">Home</a></li>
                            <li>Blog</li>
                        </ol>
                    </div>
                    <h3 class="pt-4">Could Prophet Muhammad be biblically identified as a false prophet? </h3>


                </div>
            </div>

        </section><!-- End Breadcrumbs Section -->

        <!-- ======= Post Grid Section ======= -->
        <section id="posts" class="posts">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-8">
                        <div class="post-entry-1 lg">
                            <a href="single-post.html"><img
                                    src="https://minbible.com/media/k2/items/cache/1698b847c2e4fe98c05adcdc9d420590_XL.jpg"
                                    alt="" class="img-fluid pb-4"></a>
                            <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span>
                                <span>Jul 5th
                                    '22</span>
                            </div>
                            <h2><a href="single-post.html">Could Prophet Muhammad be biblically identified as a false
                                    prophet?</a></h2>
                            <p class="mb-4 d-block">
                                Many Muslim and non-Muslim scholars argue that the messenger in Malachi 3:1 fits Prophet
                                Muhammad more than anyone else and it is one of the prophecies of Prophet Muhammad in
                                the Bible. While others denied and argued this Biblical Prophecy fits other figures such
                                as Jesus. In this article, I will go through all these candidates and evaluate the best
                                possible interpretation.
                                Introduction to Malachi 3:1
                                The last book of the Canonical Jewish Code of the Bible bears the name of “Malachi.” It
                                was written at about the beginning of the fourth century BCE when the people of Israel
                                were also tired of Yahweh; and used to say: “The Table of the Lord (Yahweh) is an
                                abomination, and His meal is contemptible” (Malachi 1:3).

                                Prophet Malachi Prophecy was then issued, so he said that God says:

                                “Behold, I send My messenger, And he will prepare the way before Me. And the Lord, whom
                                you seek, Will suddenly come to His temple, Even the Messenger of the covenant, In whom
                                you delight. Behold, He is coming,” Says the LORD of hosts.”. (Malachi 3:1 kjv\ESV)

                                This is a well-known Messianic prophecy. All Christians will tell us that the first
                                messenger mentioned in the text is St. John Baptist, and the second messenger is Jesus
                                Christ (PBUH)!

                                This was a direct effect of the quotation in the New Testament of this verse to mean
                                that (See, for example, Mark 1:2, Luke 7:27, Matthew 11:10). While the main
                                characteristic of Matthew is to show and prove the fulfillment of some predictions in
                                the Old Testament concerning nearly every event in the life of Jesus Christ. He is very
                                careless to guard himself against contradictions and less scrupulous in his quotations
                                from the Hebrew Scriptures.

                                But with a close look at Malachi 3:1 in Hebrew, we will see that this understanding is
                                very far from the truth.

                                Malachi 3:1 Hebrew | What Does Malachi 3:1 Mean?
                                The original text tells us that Yahweh Sabaoth, i.e. God of Hosts, is the speaker and
                                the believers are the people addressed, as can be readily seen in the words “whom ye are
                                seeking … whom ye desire.” While the writer of the Gospels changed it to be as if Jesus
                                is one who the messenger prepares the way to.

                                The traditional idea says that the verse is talking about one messenger, not two, and to
                                translate it as the Hebrew letter (הָ) does not mean in that context “then or even,” (as
                                translated in KJV) it rather means “and,” meaning God is still talking about the same
                                person. You can get this meaning by reading more trustworthy translations such as
                                English Standard Version, New American Standard Bible, NASB, English Revised Version,
                                etc.

                                The Hebrew phrase also mentions key Hebrew words here:

                                upinna וּפִנָּה־ (prepare or pave).
                                derek דֶ֖רֶךְ (the way, or road), but as God has not a physical road, it metaphorically
                                means “worship and religion” when used with God (as used throughout the Psalms and the
                                Prophets).
                                The word “before me [God] לְפָנָ֑י (ləp̄ā·nāy)”, does not mean literally “before” his
                                coming, it rather means the surface or the face. (Strong's 6440)
                                Therefore, the text could logically be understood the Messenger “will put straight and
                                clear the worship or the religion.” We should open our eyes of wisdom to see that he is
                                not dispatched to prepare the way before another Messenger called “Adon אָד֣וֹן” and the
                                “Messenger of the Promise,” but he is commissioned to found and establish a straight,
                                safe, and good Religion or rood to God. He is commissioned to remove all the obstacles
                                in the way between God and his creatures.

                                The main signs of this Messenger are:
                                He was to come suddenly to his temple;
                                Construct a new Path, or complete and clear religion, that connects people with their
                                Creator with no absolute mediator, no priest, saint, or sacrament.
                                Does it speak of John the Baptist and Jesus?
                                The Churches have always believed that the “Messenger of the way” is John Baptist and
                                not Jesus. However, John Baptist (PBUH) was not the Messenger foretold by Malachi. In
                                addition, the accounts given about him by the four Evangelists are very contradictory,
                                but the one thing that they together agree on is that he prepared no way at all; for he
                                was not accredited with a sacred scripture: he neither founded a religion nor reformed
                                the old one.

                                He only used to stay in the desert and baptize the crowds in the waters and occupy
                                himself with half a dozen disciples. Baptism could not be considered a “religion” or
                                “way,” it is only a small thing that most people were practicing at that time.

                                He also could not be Jesus that the Church means i.e. the second person in the divine
                                trinity. If Jesus were the Yahweh Sabaoth who made this prophecy, then who was the other
                                Yahweh Sabaoth before whose face the way was to be prepared?

                                Who is the promised messenger of Malachi 3:1?
                                As Malachi existed in the fourth century BCE, the two mean signs of the messenger
                                mentioned above were only done by an apostle whose name is Muhammad!

                                He was to come suddenly to the temple (it was reported he miraculously travel to the
                                Temple in Jerusalem during what is knowing as al-Israa);
                                He Constructed a complementary Path or complete and clear religion that connects people
                                with their Creator with no absolute mediator (unlike the other corrupted religions).
                                So, who can be then the promised messenger of Malachi 3:1 other than this glorious man
                                who is the great benefactor of humanity, and this valiant Commander who rendered noble
                                services in the cause of God and His religion other than Muhammad (PBUH)?

                                Conclusion | Who will prepare the way: Jesus or Muhammad?
                                In light of the Hebrew text, we concluded that the text prophecies the coming of only
                                one messenger, not two, and the text could logically be understood as: the Messenger
                                will put straight and clear the way of worship to God. This could be done by the new
                                complementary religion. The “Messenger of the Promise,” is commissioned to found and
                                establish a straight, safe, and good Religion or rood to God. He is commissioned to
                                remove all the obstacles in the way between God and his creatures.

                                We could not find any suitable figure to accomplish this prophecy except Prophet
                                Muhammad, not Jesus not John the Baptist.

                                For a full and expanded discussion of this prophecy and many of the prophecies of
                                Prophet Muhammad in the Bible, I would urge you to read the book written by the former
                                Roman Catholic priest, Professor David Benjamin (later Abd al-Ahad Dawood) under the
                                title: "Muhammad in the Torah and the Gospel". Click here and check it now!
                            </p>

                            

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <!-- <div class="row g-1"> -->
                        <div class="border-start custom-border">
                            <div class="post-entry-1">
                                <div style="background: #00b3a4;
                                width: 100%;
                                height: 12vh;
                                color: #FFF;
                            ">
                                    <h2 class="pt-1 pl-2 ps-1">
                                        <a style="color: #FFF;" href="single-post.html">Category List</a>
                                    </h2>
                                </div>

                                <div>
                                    <ul style="list-style: none; padding-top: 10px;">
                                        <li>
                                            <a style="font-size: 20px;" href="">
                                                Muhammad in the Torah | Old Testament
                                                <span style="float: right;">(5)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a style="font-size: 20px;" href="">
                                                Prophet Muhammad in the Hindu scriptures
                                                <span style="float: right;">(9)</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <!-- </div> -->
                    </div>

                </div> <!-- End .row -->
            </div>
            </div>

        </section> <!-- End Post Grid Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0 contact">
                    <div class="info" style="color: #9e9e9e;">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>A108 Adam Street<br>New York, NY 535022</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>info@mohammedinthebible.com taha@mohammedinthebible.com</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>+966 564317621</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>QUICK LINKS</h3>
                        <ul class="p-0">
                            <li><a href="#">About The Writer</a></li>
                            <li><a href="#">Non-Muslim Views</a></li>
                            <li><a href="#">Photos & Videos</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left linksFooter">
                    <div class="copyright">
                        <h3>RELATED SITES</h3>
                        <ul class="p-0">
                            <li><a href="#">eDialogue</a></li>
                            <li><a href="#">ISNA</a></li>
                            <li><a href="#">Discover Islam</a></li>
                            <li><a href="#">The Religion Of Islam</a></li>
                            <li><a href="#">Islam Presentation Committee</a></li>
                            <li><a href="#">Islam House</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 text-lg-left">
                    <div class="copyright">
                        <h3>HAVING INQUIRY?</h3>
                    </div>
                    <div class="credits inquiry">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>

                            <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>